* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: aliceblue;
}

li {
    list-style-type: none;
    display: inline-flex;
    padding: 0px 20px 0px 20px;
}

header {
    background-color: aliceblue;
}

.header__link-itens {
    color: black;
    font-size: 20px;
    padding: 0px;
}

#header__link {
    justify-content: center;
    display: flex;
    padding-left: 40px;
    font-weight: bold;

}

.logo_ {
    margin: 10px;
    padding: auto;
    color: black;
    padding: 0px;
}


.atras_alem {
    text-align: center;
    margin-bottom: 10px;
}

.atras_alem1 {
    display: inline-block;
    background-color: rgb(161, 39, 39);
    width: 20px;
    height: 20px;
    border-radius: 90%;
    color: rgb(161, 39, 39);

}

.atras_alem2 {
    display: inline-block;
    background-color: rgb(29, 35, 152);
    width: 20px;
    height: 20px;
    border-radius: 90%;
    color: rgb(29, 35, 152);

}

.atras_alem3 {
    display: inline-block;
    background-color: rgb(222, 183, 40);
    width: 20px;
    height: 20px;
    border-radius: 90%;
    color: rgb(222, 183, 40);
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;
    font-weight: normal;
    margin-bottom: 5px;
}


.container {
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.container1 {
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.imagem {
    width: 924px;
    height: auto;

}

.texto {
    text-align: center;
    padding-top: 31%;
    font-size: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(169, 169, 169, 0.5);
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.texto1 {
    text-align: center;
    padding-top: 25%;
    font-size: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(169, 169, 169, 0.5);
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.texto2 {
    text-align: center;
    padding-top: 27%;
    font-size: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(169, 169, 169, 0.5);
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container:hover .texto {
    opacity: 1;
}

.container:hover .texto1 {
    opacity: 1;
}

.container:hover .texto2 {
    opacity: 1;
}